@import "tailwindcss";

@theme {
  --color-rumi: #3A5700;
  --color-rumi-light: #76AC00;
  --color-bgColor: #FDFDFD;

  --background-image-circles: url('/assets/images/bg-circles.jpg');
  --background-image-light-circles: url('/assets/images/light-circles.svg');
  --background-image-sales-card: url('/assets/images/bg-sales-card.svg');

  --font-family-sans: var(--font-rubik), var(--font-elMessiri), ui-sans-serif, system-ui, sans-serif;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

@utility container {
  margin-inline: auto;
  padding-inline: 0.5rem;
  max-width: 1280px;
}

body {
  color: #3A5700;
  background-color: #FDFDFD;
  background-image: var(--background-image-circles);
  background-attachment: scroll;
}
