
.round-out {
    @apply shrink-0 w-[150px] relative
}

.round-out::before {
    content: "";
    display: block;
    position: absolute;
    width: 26px;
    height: 27px;
    right: 0;
    bottom: -1px;
    background-image: radial-gradient(circle at 0 0, transparent 26px, #76AC00 27px);
}


.round-out-second {
    @apply shrink-0 w-[100px] relative
}

.round-out-second::before {
    content: "";
    display: block;
    position: absolute;
    width: 26px;
    height: 27px;
    left: 0;
    top: -1px;
    background-image: radial-gradient(circle at 100% 100%, transparent 26px, #76AC00 27px);
}
