.price {
    height: 77px;
    width: 225px;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    @apply absolute bg-rumi-light text-white rounded-full
}

.sales-description {
    @apply pt-[110px] pl-[20px] text-2xl
}

.sales-card {
    background-color: #FDFDFD !important;
    border-radius: 2.5rem;
    @apply mx-auto relative h-[494px] w-[361px]
}

.sales-card__one {
    background: url('/assets/images/bg-sales-card.svg') no-repeat fixed,
                url('/assets/images/dog1.webp') no-repeat bottom;
}

.sales-card__second {
    background: url('/assets/images/bg-sales-card.svg') no-repeat fixed,
                url('/assets/images/dog2.webp') no-repeat bottom;
}

.sales-card__third {
    background: url('/assets/images/bg-sales-card.svg') no-repeat fixed,
                url('/assets/images/dog3.webp') no-repeat bottom;
}


.sales-card__fourth {
    background: url('/assets/images/bg-sales-card.svg') no-repeat fixed,
    url('/assets/images/dog4.webp') no-repeat bottom;
}

.sales-card__fifth {
    background: url('/assets/images/bg-sales-card.svg') no-repeat fixed,
    url('/assets/images/dog5.webp') no-repeat bottom;
}

.sales-card__sixth {
    background: url('/assets/images/bg-sales-card.svg') no-repeat fixed,
    url('/assets/images/dog6.webp') no-repeat bottom;
}


